.root {
    -fx-base: #454545;
}

.button {
   -fx-padding: 10 10 10 10;
   -fx-pref-width: 200px;
   -fx-font-weight: bold;
}

.label {
    -fx-font-weight: bold;
}

Line, Polygon {
    -colour : #ffffff;
    -fx-stroke: -colour;
    -fx-fill: -colour;
}

Circle {
    -strokeColour: #ffffff;
    -fillColour: #252525;
    -fx-stroke: -strokeColour;
    -fx-fill: -fillColour
}

#manualHeader {
    -fx-font-weight: bold;
}

#manualLine {
    -fx-font-weight: normal;
}

#viewport {
    -fx-background-color: #333333;
}

#closeButton {
    -fx-pref-width: 10px;
}

#edgeLabel {
    -fx-background-color: #454545;
    -fx-text-color: #ffffff;
}

#nodeLabel {
    -fx-text-color: #ffffff;
}
