.button {
   -fx-padding: 10 10 10 10;
   -fx-pref-width: 200px;
   -fx-font-weight: bold;
}

.label {
    -fx-font-weight: bold;
}

Viewport {
    -fx-background-color: #ffffff;
}
#closeButton {
    -fx-pref-width: 10px;
}

Circle {
    -strokeColour: #000000;
    -fillColour: #ffffff;
    -fx-stroke: -strokeColour;
    -fx-fill: -fillColour
}

#manualHeader {
    -fx-font-weight: bold;
}

#manualLine {
    -fx-font-weight: normal;
}

#edgeLabel {
    -fx-background-color: #ffffff;
    -fx-text-color: #000000;
}

#nodeLabel {
    -fx-text-color: #000000;
}
